// import fonts

// variables

$theme-body-background:             #f6f6f6;
$theme-body-color:                  #212121;

$theme-font-family:                 sans-serif;
$theme-font-size-base:              16px;
$theme-card-background:             #ffffff;