body {
    background: $theme-body-background;
}

body::-webkit-scrollbar {
    display: none;
}

.page {

    &-hero {
        padding: 5% 5%;
        text-align: center;
        background-color: $theme-accent-color;
        background-image: linear-gradient(45deg, $theme-accent-color 15%, $theme-primary-color 85%);
        position: relative;

        @media (max-width: 767px) {
            padding: 15% 5%;
        }
        
        
        .image-overlay {
            background-size: cover!important;
            background-repeat: no-repeat!important;
            background-position: center center!important;
            mix-blend-mode: overlay;
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
        }
    }

    &-title {
        color: $theme-body-color;
        position: relative;
        z-index: 10;
        text-shadow: 0px 0px 20px rgba(0,0,0,0.5);

        @media (max-width: 767px) {
            font-size: 25px;
        }
    }
}

.page-content {
    background: rgba(255,255,255,0.02);

    @media (max-width: 767px) {
        text-align: center;
    }

    .greeting h3 {
        font-size: $theme-font-size-base * 1.5;
        margin-bottom: $theme-gutter;
        color: $theme-body-color;
        font-weight: 600;
        

        @media (max-width: 767px) {
            font-size: $theme-font-size-base + 2;
            margin-bottom: 20px;
        }
    }

    .message {
        display: flex;
        flex-wrap: wrap;

        p {
            padding-right: $theme-gutter;
            flex-grow: 1;
            max-width: 75%;

            @media (max-width: 767px) {
                padding-right: 0;
                max-width: 100%;
            }
        }

        .paypal-image {
            flex: 0 0 25%;

            @media (max-width: 767px) {
                flex: 0 0 100%;
            }

            img {
                display: block;
                max-width: 100%;

                @media (max-width: 767px) {
                    max-width: 50%;
                    margin: auto;
                }
            }
        }
    }
}

.forms {
    background: url(../images/sparkles.png);
    background-size: $theme-container-width;
    background-position: center top;

    .forms-list {
        width: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($theme-card-min-width, 1fr));
        grid-gap: $theme-gutter;
        
        @media (max-width: 767px) {
            grid-gap: 20px;
            max-width: 400px;
            margin: auto;
        }

        .form-item {
            background-color: $theme-card-background;
            background-image: url('../images/card-bg.png');
            background-size: cover;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.3);
            padding: $theme-card-spacing * 2;
            transition: all 0.25s ease-in;
            
            &:hover {
                transform: scale(1.04);
                box-shadow: 2px 4px 16px 0px rgba(0,0,0,0.3);

                &:before {
                    border-left: 20px solid lighten($theme-card-background, 5%);
                    border-top: 50px solid transparent;
                    border-bottom: 120px solid transparent;
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                top:0;
                left:0;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 150px solid transparent;
                border-left: 10px solid lighten($theme-card-background, 5%);
                z-index: 0;
                transition: all 0.25s ease-in;
            }

            form {
                height: 100%;
                position: relative;
                z-index: 1;
            }

            [type="submit"] {
                position: absolute;
                z-index: 10;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }

            &.has-offer {
                &:before {
                    border-left: 10px solid $theme-primary-color;
                }

                &:hover:before {
                    border-left: 20px solid $theme-primary-color;
                }
            }
        }

        .form-content {
            display: flex;
            flex-direction: column;
            height: 100%;

            .offer-details {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                grid-gap: 10px;

                .offer-title {

                    h4 {
                        color: $theme-body-color;
                        margin-bottom: 0;
                        font-size: $theme-font-size-base + 4;
                    }
                }

                .offer-price {
                    text-align: right;

                    .price-value {
                        color: $theme-body-color;
                        font-size: $theme-font-size-base + 2;
                        font-weight: 600;
                    }

                    .price-curency {
                        color: $theme-body-color;
                        font-size: $theme-font-size-base - 4;
                    }
                }

                .offer-points {

                    .old-points {
                        color: darken($theme-body-color, 45%);
                        font-size: 90%;
                        display: inline-block;
                        position: relative;

                        span {
                            font-size: $theme-font-size-base - 3;
                            font-weight: 400;
                            letter-spacing: -0.3px;
                        }

                        &:after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px;
                            background: $theme-body-color;
                            position: absolute;
                            top:50%;
                            left:0;
                            opacity: 0.5;
                        }
                    }

                    .current-points {
                        color: $theme-primary-color;
                        font-size: $theme-font-size-base + 2;
                        font-weight: 600;
                        display: block;
                        white-space: nowrap;

                        span {
                            font-size: $theme-font-size-base - 3;
                            font-weight: 400;
                            letter-spacing: -0.3px;
                        }
                    }
                }

                .offer-actions {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: $theme-card-spacing;
    
                    .buy {
                        padding: 10px;
                        line-height: 15px;
                        background: $theme-accent-color;
                        color: $theme-body-color-inverted;
                        border-radius: 4px;
                        box-shadow: none;
                        border: none;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: $theme-font-size-base - 2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    background: darken($theme-body-background, 10%);

    .copyright {
        max-width: 1260px;
        margin: auto;
        padding: $theme-gutter / 2 $theme-gutter;

        p {
            text-align: center;
            color: $theme-body-color;
            opacity: 0.8;
            line-height: 16px;
            margin: 0;
            font-size: $theme-font-size-base - 4;
        }
    }
}
